---
// ---(コードフェンス): スクリプトを記述
// レイアウトをimport
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle: string = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Tutorial Blog</h2>
</BaseLayout>
