---
// ---(コードフェンス): スクリプトを記述
// レイアウトをimport
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle: string = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Tutorial Blog</h2>
  <!-- hydration: クライアントサイドのJSが静的ページを動的ページに変換する手法 -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
