---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle: string = "Map";
const API_KEY = import.meta.env.API_KEY;
const googleMapUrl = `http://maps.google.com/maps/api/js?key=${API_KEY}&language=ja`;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Google Map from API</h2>
  <!-- Google MAPの埋め込み -->
  <div id="map"></div>

  <script>
    // Google Mapに表示する地点情報
    const MyLatLng = new google.maps.LatLng(34.6945454, 135.1952558);
    const Options = {
      zoom: 15, //地図の縮尺値
      center: MyLatLng, //地図の中心座標
      mapTypeId: "roadmap", //地図の種類
    };
    const map = new google.maps.Map(document.getElementById("map"), Options);
  </script>
</BaseLayout>

<script src={googleMapUrl}></script>

<style>
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  #map {
    height: 100%;
    width: 100%;
  }
</style>
