---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/map.css";
const pageTitle: string = "Map";
const API_KEY = import.meta.env.API_KEY;
const googleMapUrl = `https://maps.google.com/maps/api/js?key=${API_KEY}&v=beta&libraries=marker&language=ja&callback=initMap`;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Google Map from API</h2>
  <!-- Google MAPの埋め込み -->
  <div id="map"></div>

  <!-- GoogleMapを表示するスクリプト -->
  <script>
    // 地図の初期化関数
    const initMap = () => {
      let map: google.maps.Map;
      // マップID
      const MAP_ID = "9fe219b55ef46f25";
      // Google Mapに表示する地点情報
      const myLatLng: google.maps.LatLngLiteral = {
        lat: 34.6945454,
        lng: 135.1952558,
      };
      // 地図のプロパティ
      const options = {
        zoom: 15, //地図の縮尺値
        center: myLatLng, //地図の中心座標
        mapTypeId: "roadmap", //地図の種類
        mapId: MAP_ID, // GCPにて作成したmap_ID（高度なマーカーを利用するために必要）
      };
      // 地図
      map = new google.maps.Map(
        document.getElementById("map") as HTMLElemnt,
        options
      );
      // カスタムマーカー
      const memoTag = document.createElement("div");
      memoTag.className = "customMarker";
      memoTag.textContent = "三宮駅";
      // マーカー表示
      const markerView = new google.maps.marker.AdvancedMarkerView({
        map,
        position: myLatLng,
        content: memoTag,
      });
    };
    declare global {
      interface Window {
        initMap: () => void;
      }
    }
    window.initMap = initMap;
  </script>
</BaseLayout>

<!-- スクリプト実行 -->
<script src={googleMapUrl} async defer></script>

<style>
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  /* HTML marker styles */
  .customMarker {
    background-color: #4285f4;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
  }
  .customMarker::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285f4;
  }
  [class$="api-load-alpha-banner"] {
    display: none;
  }
</style>
