---
import Navigation from "./Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <!-- モバイルで表示されるハンバガーメニュー -->
    <Hamburger />
    <!-- アイコン -->
    <ThemeIcon />
    <!-- ナビゲーションリンク -->
    <Navigation />
  </nav>
</header>
