---
import Navigation from "./Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
---

<header>
  <nav>
    <!-- モバイルで表示されるハンバガーメニュー -->
    <Hamburger />
    <!-- ナビゲーションリンク -->
    <Navigation />
  </nav>
</header>
